/*table*/
body {
  font: normal medium/1.4 sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: center;
  border: 1px solid #ccc;
}
.highlight {
  background: yellow;
}

/*Gallery*/
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}